<% form_for @list do |l| %>
<%= l.label :name %>
<%= l.text_field :name %>
<%= l.hidden_field :user_id, :value => current_user.id %>
<table class="table">
	<tr><th>#</th><th>Contact</th></tr>
<% @contacts.each do |contact| %>
	<tr><td>
	<%= check_box_tag ('ids[]', contact.id) %></td>
	<td><%= content_tag(:p, contact.name) %></td></tr>
<% end %>
</table>
<%= l.submit "Create", :class => "btn btn-inverse" %>
<% end %>