<table class="table">	
	<tr>
		<td><%= label(:contact, :name, "Name" )%></td>
		<td><%= text_field(:contact, :name, :class => "text required" ) %></td>
	</tr>
	<tr>
		<td><%= label(:contact, :phone, "Phone") %> </td>
		<td><%= text_field(:contact, :phone, :id => "email_primary" ) %> </td>
		<%= hidden_field(:contact, :user_id, :value => current_user.id) %>
	</tr>	
	<tr>
		<td><%= label(:contact, :email, "Email") %> </td>
		<td><%= text_field(:contact, :email, :id => "email_primary" ) %></td> 
	</tr>	
</table>